<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>587289647926-aks8udg032pkhrdceank0di714sk0mn4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587289647926-aks8udg032pkhrdceank0di714sk0mn4</string>
	<key>API_KEY</key>
	<string>AIzaSyCothIQ69pnDvKkkqqZcqa6ddSAYmtRjJE</string>
	<key>GCM_SENDER_ID</key>
	<string>587289647926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cs378.Dormy</string>
	<key>PROJECT_ID</key>
	<string>dormy-e6239</string>
	<key>STORAGE_BUCKET</key>
	<string>dormy-e6239.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:587289647926:ios:0dc0c16d411129f0</string>
	<key>DATABASE_URL</key>
	<string>https://dormy-e6239.firebaseio.com</string>
</dict>
</plist>